<ul>
  <ng-container *ngFor="let item of listItems">
    <ng-container *ngIf="item.subItems.length > 0">
      <a (click)="showElemento(item)" [ngClass]="{disabled: item.disabled}" data-toggle="tooltip" data-placement="right"
        title="{{item.description}}">
        <p [ngClass]="{collapsed: !item.show}">

          <mat-icon>{{ item.icon }}</mat-icon>
        </p>
      </a>
    </ng-container>

    <ng-container *ngIf="item.subItems.length === 0">
      <a [routerLink]="item.routePath" routerLinkActive="active" [ngClass]="{disabled: item.disabled}"
        data-toggle="tooltip" data-placement="right" title="{{item.description}}">
        <p [ngClass]="{collapsed: !item.show}">
          <mat-icon>{{ item.icon }}</mat-icon>
        </p>
      </a>
    </ng-container>

    <ul class="collapse" [ngClass]="{show: item.show}">
      <ng-container *ngFor="let subItem of item.subItems">
        <li>
          <a [routerLink]="subItem.routePath" routerLinkActive="active" [ngClass]="{disabled: subItem.disabled}"
            data-toggle="tooltip" data-placement="right" title="{{subItem.description}}">
            <p [ngClass]="{collapsed: !subItem.show}">
              <mat-icon>{{ subItem.icon }}</mat-icon>
            </p>
          </a>
        </li>
      </ng-container>
    </ul>
  </ng-container>
  <a (click)="toggleClick()" data-toggle="tooltip" data-placement="right" title="Abrir menú" class="close-menu">
    <p>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </p>
  </a>
</ul>