ul a {
   text-decoration: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
 }

 .active {
    text-decoration: underline;
 }
 mat-nav-list{
   padding-top: 0px;
}
ul{
   margin: 0px;
   padding: 0px; 
}
ul p{
   padding: 10px 15px; 
   margin: 0px;
   background: white;
   border-bottom: 1px solid #e0e0e0;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   align-items: center;
}
ul p a{
   color: gray;
   text-decoration: none;
   font-size:13px;
}
ul p mat-icon{
   margin-right: 10px;
   color:#5a5a5a;
}
ul ul p a{
   padding-left: 15px;
}
ul ul p {
   background: #efefef;
}
ul ul p:hover{
   background: #e2e2e2;
}
ul ul p:hover a{
   color: #3f51b5;
}
ul p:hover{
   background: #f7f7f7;
}
ul p:hover a{
   color:#3f51b5;
}
ul p:hover mat-icon{
   color:#3f51b5;
}

ul a.active mat-icon {
   color: #3f51b5 !important;
   text-decoration: none;
}

.close-menu{
   position: absolute;
   bottom:0px;
}