<div class="container">
  <div class="p-3">
    <div class="row mb-2">
      <div class="col">
        <h2 mat-dialog-title>Nuevo organismo</h2>
      </div>
      <div class="col float-right crossButtonModal">
        <button mat-button mat-dialog-close class="btn p-0 cross-button"><mat-icon>close</mat-icon></button>
      </div>
    </div>
    <mat-divider></mat-divider>

    <mat-dialog-content class="mat-typography">

      <form [formGroup]="formNuevoOrganismo">
        <div class="row" style="padding: 0px 5px;">
          <div class="col-12">
            <mat-form-field class="col-12">
              <input type="text" matInput
                     id="Organismo"
                     name="Organismo"
                     formControlName="Organismo"
                     placeholder="Organismo" >
            </mat-form-field>
          </div>
        </div>
      </form>

    </mat-dialog-content>
    <mat-divider></mat-divider>

    <mat-dialog-actions align="end">
      <div class="row mt-2">
        <div class="col-6 matActions">
          <button class="btn btn-outline-primary btn-lg mr-3" type="button" mat-dialog-close>Cancelar</button>
        </div>
        <div class="col-6 matActions">
          <button class="btn btn-primary btn-lg mr-3" type="button" (click)="AddNewOrganismo()">Aceptar</button>
        </div>
      </div>
    </mat-dialog-actions>

  </div>
</div>